{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <div style="margin-top: 50px">
        <h1>Bienvenue sur la page d'accueil</h1>
        <p>
            Pour créer la base de données, tapez simplement dans la console :
            "php bin/console doctrine:database:create" puis
            "php bin/console doctrine:schema:update --force"
        </p>
    </div>
{% endblock %}
