{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    <div style="margin-top: 50px">
        <h1>Bienvenue sur la page d'accueil</h1>
    </div>
{% endblock %}
