{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div style="margin-top: 50px">
        <h1>Ajouter un utilisateur</h1>
    </div>


    <div class="m-5" style="width: 500px;">
        {{ include('common/form/addUserForm.html.twig') }}
    </div>


    <div class="m-5" style="width: 1000px;">
        {{ include('user/userList.html.twig') }}
    </div>

{% endblock %}
